---
import ThemeToggle from "./ThemeToggle.astro";
import WesternCodeLogo from "../assets/svgs/westerncode.svg";
import WesternCodeLogoReverse from "../assets/svgs/westerncode-reverse.svg";
---

<nav class="flex justify-between p-4">
	<div class="px-6 self-start">
		<span class="sr-only">Western Code</span>
		<WesternCodeLogo class="dark:hidden" width="180px" />
		<WesternCodeLogoReverse class="hidden dark:block" width="180px" />
	</div>

	<div class="px-6 flex flex-col justify-center">
		<ThemeToggle />
	</div>
</nav>
