---
import ThemeToggle from "@/components/ThemeToggle.astro";
import WesternCodeLogo from "@/assets/svgs/westerncode.svg";
import WesternCodeLogoReverse from "@/assets/svgs/westerncode-reverse.svg";
---

<header>
	<nav class="flex justify-between p-4">
		<div class="self-start px-6">
			<span class="sr-only">Western Code</span>
			<WesternCodeLogo class="dark:hidden" width={180} />
			<WesternCodeLogoReverse class="hidden dark:block" width={180} />
		</div>

		<div class="flex flex-col justify-center px-6">
			<ThemeToggle />
		</div>
	</nav>
</header>
