@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@utility hero-title {
	animation: fade-in 0.75s ease-in-out;
}

@utility hero-text-bg {
	@apply rounded-sm bg-white/60 px-2 py-1 backdrop-blur-sm md:py-1.5;
}
