---
// Transition Imports
import { ClientRouter } from "astro:transitions";
import { fade } from "astro:transitions";

// Component Imports
import MainHead from "@/components/MainHead.astro";
import Nav from "@/components/Nav.astro";

interface Props {
	title?: string | undefined;
	description?: string | undefined;
	image?: string | undefined;
}

const { title, description, image } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} image={image} />
		<ClientRouter />
		<script is:inline>
			const theme = localStorage.getItem("theme") || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
			document.documentElement.classList.add(theme);
			document.documentElement.setAttribute("data-theme", theme);
		</script>
	</head>
	<body
		transition:animate={fade({ duration: 250 })}
		class="bg-white dark:bg-gray-800 dark:text-gray-200 text-gray-800 min-h-screen"
	>
		<div class="antialiased flex flex-col min-h-screen">
			<Nav />
			<main class="flex-1">
				<slot />
			</main>
		</div>

		<script>
			addEventListener("load", () => {
				document.documentElement.classList.add("loaded");
			});
		</script>
	</body>
</html>
